[Unit]
Description=Signatumd Docker Container
Documentation=https://github.com/squbs/docker-signatumd
After=network.target docker.socket
Requires=docker.socket

[Service]
RestartSec=10
Restart=always

# Modify IP6_PREFIX to match network config
Environment="NAME=signatumd"
Environment="DATA_VOL=signatumd-data"
Environment="IMG=squbs/signatumd:1.1-armhf"
Environment="PORT=33333:33333/tcp"
Environment="PORTRPC=33334:33334/tcp"

# To override environment variables, use local configuration directory:
# /etc/systemd/system/docker-signatumd.service/local.conf
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

# Clean-up bad state if still hanging around
ExecStartPre=-/usr/bin/docker rm -f $NAME

# Attempt to pull new image for security updates
ExecStartPre=-/usr/bin/docker pull $IMG

# Main process
ExecStart=/usr/bin/docker run --rm -v ${DATA_VOL}:/signatum --name ${NAME} -p ${PORT} -p ${PORTRPC} ${IMG} sigt_oneshot $ARGS

[Install]
WantedBy=multi-user.target
